.title{
    text-transform: uppercase;
    font-size: 8vw;
    font-family: "Montserrat" , sans-serif;
    cursor:pointer;
    /* background-color: rgb(141, 131, 131); */
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.divider{
   margin:10px;
   width:100%;
   background-color: grey; 
}
